# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/

# Flask / SQLite
datos.db
instance/
*.sqlite

# Uploads temporales
temp_uploads/

# Sistema
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/

# Cloudinary / Secrets — NUNCA subir al repositorio
.env.local